RewriteEngine On
RewriteCond %{REQUEST_URI} !(\.png|\.jpg|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js|\.pdf|\.woff|\.woff2|\.ttf)$
RewriteRule (.*) index.php [QSA,L]
<FilesMatch "^(db\.php|config\.php|functions\.php|router\.php)$">
    Order allow,deny
    Deny from all
</FilesMatch>
